<div class="container">
    <h1>Hero Form</h1>
	<div class="glyphicon-comment alert-info">
		How to set input control valid/invalid, dirty, untouched class <br/>
		Step 1: add ngControl directive which automatically add ng-valid, ng-invalid css class <br/>
		Step 2: in order to do better - display error message div, add reference template variable, set the value to ngForm
	</div>
	<div class="glyphicon-comment alert-info">
		How to set input control valid/invalid, dirty, untouched class NEW API<br/>
		Step1: using ngModel, not ngControl<br/>
		Step2: add reference template variable, set the value of variable to ngModel
	</div>
    <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" [(ngModel)]="model.name" 
			   ngControl="name" #refname="ngForm"  required name="name">
	  	<div [hidden]="refname.valid || refname.pristine" class="alert alert-danger">
	  		Name is required
	  	</div>
      </div>
      <div class="form-group">
        <label for="alterEgo">Alter Ego</label>
        <input type="text" class="form-control" [(ngModel)]="model.alterEgo" required 
			   ngControl="alterEgo" #refalterEgo="ngForm" name="alterEgo">
	  	<div [hidden]="refalterEgo.valid || refalterEgo.pristine" class="alert alert-danger">
			alterEgo is required
	  	</div>
      </div>
		<div class="form-group">
			<label for="power">Hero Power</label>
			<select class="form-control" [(ngModel)]="model.power" ngControl="power" required name="power">
				<option *ngFor="#p of powers" [value]="p">{{p}}</option>
			</select>
		</div>

      <button type="submit" [disabled]="!heroForm.form.valid" class="btn btn-default">Submit</button>
    </form>
</div>
